:root {
  /* COLOR PALETTE */
  --bc__color--black: #191800;
  --bc__color--yellow: #dbd748;
  --bc__color--white: #f2f2f2;
  --bc__color--white--light: #fffffe;
  --bc__color--grey: #c3c6ce;
  --bc__color--grey--dark: #6e6e73;

  /* TYPOGRAPHY FAMILY*/
  --bc__typography--family--heading: 'Antonio', sans-serif;
  --bc__typography--family--body: 'Rubik', sans-serif;

  /* FONT SIZE (Comprobar) */
  --bc__typography--size--p: 0.8rem;
  --bc__typography--size--h3: 1.2rem;
  --bc__typography--size--h2: 1.5rem;
  --bc__typography--size--h1: 2rem;
  --bc__typography--size--extra: 5rem;

  /* FONT WEIGHT (Comprobar) */
  --bc__typography--weight--300: 300;
  --bc__typography--weight--500: 500;
  --bc__typography--weight--700: 700;

  /* LETTER SPACING */
  --bc__typography--spacing--heading: 0.5rem;
  --bc__typography--spacing--content: 0.2rem;

  /* MARGIN */
  --bc__margin--small: 0.5rem;

  /* GAP */
  --bc__gap--small: 0.7rem;
  --bc__gap: 1.5rem;
  --bc__gap--big: 3rem;

  /* PADDING */
  --bc__padding--small: 0.5rem;
  --bc__padding--btn: 1rem;
  --bc__padding--section: 1.5rem;
  --bc__padding--big: 2rem;
  --bc__padding--shop: 2.5rem 5rem;

  /* BORDER */
  --bc__border--yellow: 0.12rem solid var(--bc__color--yellow);
  --bc__border--black: 0.12rem solid var(--bc__color--black);
  --bc__border--grey: 0.12rem solid var(--bc__color--grey);

  /* SIZING */
  --bc__height--image: 18rem;
  --bc__height--header: 12vh;
  --bc__height--hero: 88vh;
  --bc__height--shop: 100vh;
  --bc__height--card: 18rem;
  --bc__height--main: var(--bc__height--hero) + var(--bc__height--shop);
  --bc__height--footer: 23vh;
}

/* 
🟥 - Falta código
🟨 - Revisar descripciones y variables
🟦 - Código hecho y revisado
*/
/* --🟨 GLOBAL STYLES------------------------------------------------------------------------ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  color: var(--bc__color--white);
  font-family: var(--bc__typography--family--body);
  min-width: 20rem;
  min-height: 100vh;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--bc__color--white);
}

/* LAYOUT */
.bc__layout__flex {
  display: flex;
  align-items: center;
}

.bc__layout__grid {
  display: grid;
  align-items: center;
}

/* --🟨 HEADER------------------------------------------------------------------------ */
.bc__section__header__layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--bc__color--black);
  min-height: var(--bc__height--header);
  padding: var(--bc__padding--section);
  font-size: var(--bc__typography--size--h3);
  font-weight: var(--bc__typography--weight--500);
  font-style: normal;
}

.bc__header__logo {
  -webkit-text-stroke: 0.04rem var(--bc__color--white);
  color: transparent;
  /* filter: drop-shadow(0 0 0.5rem var(--bc__color--yellow)); */
  z-index: 2;
}

.bc__navbar__header {
  flex-direction: row;
  gap: var(--bc__gap);
  z-index: 2;
}

/* QUITAMOS LOS ICONOS DE LA HAMBURGUESA 
ESTAMOS EN DESKTOP FIRST */
.bc__hamburguer__label,
.bc__hamburguer {
  display: none;
}

.bc__navbar__contacto {
  border: #fffffe solid 1 auto;
  border-radius: 1rem;
}

/* CONTACT BUTTON */
/* === removing default button style ===*/
.bc__contact__button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.bc__contact__button {
  font-size: var(--bc__typography--size--h3);
  position: relative;
  text-transform: uppercase;
  /* text-decoration: none; */
}

.bc__contact__text--plain {
  color: var(--bc__color--white);
}

/* this is the text, when you hover on button */
.bc__contact__text--hover {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: transparent;
  width: 0%;
  inset: 0;
  border-right: 0.2rem double var(--bc__color--yellow);
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  -webkit-text-stroke: 0.04rem var(--bc__color--white);
}

/* Para mover la raya */
.bc__contact__button:hover .bc__contact__text--hover {
  width: 100%;
}

/* Para no superponer el color de la primera palabra */
.bc__contact__button:hover .bc__contact__text--plain {
  color: transparent;
}

/* --🟨 MAIN------------------------------------------------------------------------ */

.bc__section__main {
  min-height: var(--bc__height--main);
  background-color: var(--bc__color--white);
  color: var(--bc__color--black);
}

/* 🟨 HERO */
/* diseños generales */
.bc__section__hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(./public/assets/ring.jpg);
  background-size: cover;
  min-height: var(--bc__height--hero);
  padding: var(--bc__padding--big);
  position: relative;
  z-index: 1;
}

.bc__hero__logo {
  width: 10rem;
  filter: drop-shadow(0 0 0.5rem var(--bc__color--black));
}

.bc__hero__description {
  -webkit-text-stroke: 0.04rem var(--bc__color--white);
  color: var(--bc__color--white);
  filter: drop-shadow(0 0 0.5rem var(--bc__color--yellow));
  font-size: var(--bc__typography--size--extra);
  font-weight: var(--bc__typography--weight--500);
}

.bc__hero__CTA {
  background-color: var(--bc__color--yellow);
  color: var(--bc__color--black);
  padding: var(--bc__padding--btn);
  border-radius: 0.5rem;
  text-align: center;
  font-size: var(--bc__typography--size--h3);
}

.bc__hero__next {
  filter: drop-shadow(0 0 0.5rem var(--bc__color--black));
  width: 3rem;
}

/* 🟨SHOP */
.bc__section__shop {
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: var(--bc__height--shop);
  padding: var(--bc__padding--shop);
  gap: var(--bc__gap);
}

.bc__product--card {
  width: var(--bc__height--card);
  height: 33rem;
  border-radius: 20px;
  background: var(--bc__color--white--light);
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
}

.bc__card--details {
  color: var(--bc__color--black);
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
  align-content: space-between;
}

/*Text*/
.bc__card--title {
  font-size: var(--bc__typography--size--h1);
  font-weight: var(--bc__typography--weight--700);
  font-family: var(--bc__typography--family--heading);
  -webkit-text-stroke: 0.045rem var(--bc__color--black);
  font-style: italic;
  color: var(--bc__color--yellow);
}

.bc__brand {
  width: 4rem;
  /* height: 5rem; */
}

.bc__product--image {
  width: 15rem;
}

.bc__card--body {
  display: flex;
  justify-content: space-between;
  font-size: var(--bc__typography--size--h2);
  font-weight: var(--bc__typography--weight--300);
  font-family: var(--bc__typography--family--body);
  color: var(--bc__color--grey--dark);
}



.bc__card--button {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: var(--bc__color--yellow);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.bc__card--button__image {
  width: 2rem;
}

/*Hover*/
.bc__product--card:hover {
  border-color: var(--bc__color--yellow);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.bc__product--card:hover .bc__card--button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* --🟨 FOOTER------------------------------------------------------------------------ */

/* diseños generales */
.bc__section__footer {
  min-height: var(--bc__height--footer);
  font-size: var(--bc__typography--size--p);
  font-weight: var(--bc__typography--weight--300);
  color: var(--bc__color--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-image: url(./public/assets/footer.png);
  background-size: cover;
  background-position-x: center;
  padding: var(--bc__padding--section);
  gap: var(--bc__gap--small);
  background-color: var(--bc__color--white);
}

/* diseños info shop */
.bc__footer__web {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.3rem;
  gap: var(--bc__gap--small);
  border-bottom: var(--bc__color--yellow) 0.1rem solid;
}

/* diseños individuales grupo dirección, teléfono e instagram */
.bc__footer__location,
.bc__contact__phone,
.bc__contact__instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--bc__gap--small);
}

/* orden texto dirección */
.bc__location__address {
  text-align: right;
}

/* diseño especial texto Kike de Manuel */
.bc__slogan__boxer {
  text-align: center;
  font-size: var(--bc__typography--size--h3);
  -webkit-text-stroke: 0.04rem var(--bc__color--yellow);
  color: transparent;
}

/* diseño texto del eslogan */
.bc__slogan__text {
  background-color: var(--bc__color--yellow);
  color: var(--bc__color--black);
  padding: var(--bc__padding--small);
  border-radius: 0.5rem;
  text-align: center;
}

/* padding a las imágenes del footer */
.bc__contact__phone,
.bc__footer__location,
.bc__contact__instagram,
.bc__social__linkedin,
.bc__social__github {
  padding: var(--bc__padding--small);
}

/* --🟨 WHATSAPP BUTTON------------------------------------------------------------------------ */

/* diseños generales */
.bc__button--whatsApp {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(37, 211, 102);
  border-radius: 50%;
  border: rgb(37, 211, 102);
  box-shadow: 1px 1px 4px rgb(60 60 60 / 40%);
  transition: box-shadow 0.2s;
  cursor: pointer;
  position: fixed;
  bottom: 3vh;
  left: 3vh;
  transition: all 0.2s;
  z-index: 0;
}

/* efecto hover */
.bc__button--whatsApp:hover {
  transform: scale(1.1);
}

/* imagen de WhatsApp */
.bc__whatsApp__img {
  position: absolute;
  width: 70%;
  top: 16%;
  left: 20%;
}

/* --🟨 MEDIA QUERIES------------------------------------------------------------------------ */

/* MOBILE DISPLAY */
@media screen and (max-width: 23.5rem) {
  .bc__section__header__layout {
    flex-direction: column;
    gap: var(--bc__gap);
  }

  .bc__hamburguer__label {
    display: inline-block;
  }

  /* POR DEFECTO NAV NONE */
  .bc__section__navbar {
    display: none;
  }

  /* CHECKED -> APARECE NAV */
  .bc__hamburguer:checked ~ .bc__section__navbar {
    display: block;
  }

  /* COLUMN NAV ITEMS */
  .bc__navbar__header {
    flex-direction: column;
  }

  /* MAIN */

  /* HERO */
  /* reducir tamaño logo */
  .bc__hero__logo {
    width: 7rem;
  }

  /* reducir tamaño texto */
  .bc__hero__description {
    font-size: calc(var(--bc__typography--size--extra) - 2rem);
    font-weight: var(--bc__typography--weight--500);
  }

  /* reducir tamaño CTA */
  .bc__hero__CTA {
    font-size: calc(var(--bc__typography--size--h3) - 0.48rem);
  }

  /* reducir tamaño next */
  .bc__hero__next {
    width: 2rem;
  }

  /* FOOTER */
  .bc__footer__web {
    margin: var(--bc__margin--small);
    display: flex;
    flex-direction: column;
  }

  .bc__footer__location {
    flex-direction: column-reverse;
    text-align: center;
    order: 1;
    margin-top: var(--bc__margin--small);
  }

  .bc__location__address {
    text-align: center;
  }

  .bc__footer__slogan {
    order: 0;
  }

  .bc__footer__contact {
    order: 2;
  }

  .bc__contact__phone,
  .bc__contact__instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--bc__margin--small);
  }
}

/* TABLET DISPLAY */
@media screen and (min-width: 23.5rem) and (max-width: 48rem) {
  .bc__section__header__layout {
    display: block;
    min-height: 5vh;
  }

  .bc__header__logo {
    margin: auto;
    text-align: center;
  }

  .bc__hamburguer__label {
    display: block;
    position: absolute;
    top: 1.35rem;
    right: 3.5rem;
  }

  /* POR DEFECTO NAV NONE */
  .bc__section__navbar {
    display: none;
  }

  /* CHECKED -> APARECE NAV */
  .bc__hamburguer:checked + .bc__section__navbar {
    display: block;
    padding: var(--bc__padding--section);
  }

  /* COLUMN NAV ITEMS */
  .bc__navbar__header {
    flex-direction: column;
  }

  /* MAIN */

  /* HERO */
  /* aumentar tamaño hero para compensar el header */
  .bc__section__hero {
    min-height: 91vh;
  }

  /* reducir tamaño logo */
  .bc__hero__logo {
    width: 8rem;
  }

  /* reducir tamaño texto */
  .bc__hero__description {
    font-size: calc(var(--bc__typography--size--extra) - 1rem);
    font-weight: var(--bc__typography--weight--500);
  }

  /* reducir tamaño CTA */
  .bc__hero__CTA {
    font-size: calc(var(--bc__typography--size--h3) - 0.24rem);
  }

  .bc__hero__next {
    width: 2.5rem;
  }

  /* FOOTER */
  .bc__footer__web {
    margin: var(--bc__margin--small);
    display: flex;
    flex-direction: column;
  }

  .bc__footer__location {
    flex-direction: column-reverse;
    text-align: center;
    order: 1;
    margin-top: var(--bc__margin--small);
  }

  .bc__footer__contact {
    display: flex;
  }

  .bc__location__address {
    text-align: center;
  }

  .bc__footer__slogan {
    order: 0;
  }

  .bc__footer__contact {
    order: 2;
  }

  .bc__contact__phone,
  .bc__contact__instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--bc__margin--small);
  }
}
