:root {
  /* COLOR PALETTE */
  --bc__color__black: #191800;
  --bc__color__yellow: #DBD748;
  --bc__color__white: #FFFFFE;

  /* BACKGROUND COLOR */
  --bc__color__background: var(--bc__color__black);

  /* TYPOGRAPHY */
  --bc__typography__heading: 'Antonio', sans-serif;
  --bc__typography__body: 'Rubik', sans-serif;

  /* TYPOGRAPHY COLOR */
  --bc__typography__heading--black: var(--bc__color__black);
  --bc__typography__heading--yellow: var(--bc__color__yellow);
  --bc__typography__heading--white: var(--bc__color__white);
  --bc__typography__body--black: var(--bc__color__black);
  --bc__typography__body--yellow: var(--bc__color__yellow);
  --bc__typography__body--white: var(--bc__color__white);

  /* FONT SIZE (Comprobar) */
  --bc_typography--h1: 1.9rem;
  --bc_typography--h2: 1.5rem;
  --bc_typography--h3: 1.2rem;
  --bc_typography--p: 0.8rem;

  /* LETTER SPACING */
  --bc__typography__spacing--heading: 0.5rem;
  --bc__typography__spacing--content: 0.2rem;

  /* GAP */
  --bc__gap: 1.5rem;

  /* PADDING */
  --bc__padding--section: 1.5rem 0;
  --bc__padding--btn: 0.5rem 2rem;

  /* BORDER */
  --bc__border: 0.12rem solid var(--rc-color-n-050);

  /* SIZING */
  --bc__height--image: 18rem;
  --bc__height--footer: 3rem;
}

/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--bc__color__black);
  color: var(--bc__typography__body--white);
  font-family: var(--bc__typography__body);
  /* font-weight: 400; */
  /* font-size: large; */

  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--bc__typography__body--white);
}

/* LAYOUT */

.bc__layout__flex {
  display: flex;
  align-items: center;
}

/* HEADER */

/* .bc__header__logo {
  cursor: pointer;
} */

.bc__section__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  min-height: 10vh;
  padding: 1.5rem 0
}

.bc__navbar__header {
  flex-direction: row;
  gap: var(--bc__gap);
}

/* FOOTER */
.bc__section__footer {
  height: var(--footer__height);
}

/* WHATSAPP BUTTON */

.bc__button--whatsApp {
  width: 3.2rem;
  height: 3.2rem;
  background-color: rgb(37, 211, 102);
  border-radius: 50%;
  border: rgb(37, 211, 102);
  box-shadow: 1px 1px 4px rgb(60 60 60 / 40%);
  transition: box-shadow .2s;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: calc(3vh + var(--bc__height--footer));
  left: 3vh;
  transition: all 0.2s;
}

.bc__button--whatsApp:hover {
  transform: scale(1.1);
}

.bc__whatsApp__img {
  position: absolute;
  width: 70%;
  top: 16%;
  left: 20%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 48rem) {
  /* MOBILE DISPLAY */
  
}

@media screen and (min-width: 48rem) {
  /* DESKTOP DISPLAY */
  :root {
  background-color: white;
  }
  .hamburguer {
    display: none;
  }

}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* 
DARK MODE HELP
/* Apply the filter directly on the body tag
body.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}

/* Or apply it via media query
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
} 
s*/
